.input {
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  .description svg {
    margin: 0 5px;
    font-size: 0.8em;
    color: var(--input-color);
  }

  label {
    font-family: 'RobotoLight';
    font-size: 0.95em;
    font-weight: 600;
    color: var(--input-color);
    margin-bottom: 4px;
  }

  input {
    border: 2px solid var(--input-border-color);
    border-radius: 8px;
    padding: 4px;
    background: var(--input-background);
    color: var(--input-color);
  }
}
