@font-face {
  font-family: 'RobotoThin';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'RobotoLight';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RobotoThin';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'RobotoLight';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RobotoMedium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'RobotoBold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Bold.woff') format('woff');
}
