.default-theme {
  /* Header */
  --header-background: #{$white};
  --menu-item-border-bottom-color: #{$black};
  --menu-item-color: #{$black};

  /* Subheader */
  --subheader-background: #{$mediumGray};

  /* Carousel */
  --carousel-item-title-color: #{$white};
  --carousel-item-description-color: #{$white};
  --carousel-item-button-color: #{$white};
  --carousel-item-button-border-color: #{$white};
  --carousel-item-button-hover-color: #{$translucentBlack};
  --carousel-item-indicator-background: #{$mediumGray};
  --carousel-item-indicator-color: #{$white};

  --separator-color: #{$lightGray};

  /* Footer */
  --footer-background: #{$black};
  --footer-input-border-color: #{$lightGray};
  --footer-text-color: #{$gray-400};
  --footer-text-color-hover: #{$gray-50};

  /* Badges */
  --badge-accent: #{$orange-400};

  /* Spinner */
  --spinner-color: #{$darkGray};

  /* Dropdown */
  --dropdown-background: #{$white};
  --dropdown-background-hover: #{$lightGray};
  --dropdown-border-color: #{$mediumGray};

  /* Button */
  --button-border-color: #{$gray-400};
  --button-color: #{$black};
  --button-color--disabled: #{$darkGray};

  --button-background-hover: #{$gray-200};
  --button-background: #{$lightGray};

  --button-background-disabled: #{$gray-200};
  --button-color-disabled: #{$gray-500};
}
