.u {
  &-flex {
    display: flex;
  }

  &-fullPage {
    height: 100%;
    min-height: calc(100vh - 104px - 50px - 250px);
  }

  &-fullCentered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mt {
  &-1 {
    margin-top: 0.5em;
  }
  &-2 {
    margin-top: 1em;
  }
  &-3 {
    margin-top: 1.5em;
  }
  &-4 {
    margin-top: 2em;
  }
}
