.center-screen {
  width: 75%;
  margin: 25px auto;
}

.single-features {
  display: flex;
  margin-top: 50px;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;

    img {
      margin-bottom: 20px;
    }

    h4 {
      font-family: 'RobotoMedium';
      font-size: 1.5em;
      white-space: nowrap;
      margin-bottom: 10px;
    }

    p {
      font-family: 'RobotoLight';
      text-align: center;
    }
  }
}

.best-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border-top: 1px solid var(--separator-color);

  .title {
    font-family: 'RobotoBold';
    margin: 20px 0;
    font-size: 3em;
    text-transform: capitalize;
  }

  ul.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
